body {
  background: #222222;
}

@font-face {
  font-family: digital;
  src: url('./Assets/digital-7\ \(mono\).ttf');
}

.clock {
  font-family: digital;
  font-size: 69px;
  color: #febd16
}

.cell {
  background: #febd16;
  border: 1px solid #000000;
  float: left;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 28px;
}

.one {
  color: #0f47af;
}

.two {
  color: #068930;
}

.three {
  color: #fcdd07;
}

.four {
  color: #da1219;
}

.five,
.six,
.seven,
.eight {
  color: purple;
}

.revealed {
  background: rgb(255, 123, 0);
}

.boom {
  background: #da1219;
}

.flagged {
  color: white;
}

.game {
  display: grid;
  margin: 0 auto;
}

.Easy {
  grid-template-columns: auto auto auto auto auto auto auto auto;
  max-width: 430px;
}

.Hard {
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  max-width: 530px;
}

.Expert {
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  max-width: 630px;
}

.Easy .cell,
.Hard .cell,
.Expert .cell {
  line-height: 50px;
  height: 50px;
  width: 50px;
}

@media (min-width: 482px) and (max-width: 765px) {
  .Expert .cell {
    line-height: 40px;
    height: 40px;
    width: 40px;
    font-size: 25px;
  }

  .Expert {
    width: 500px
  }
}

@media (min-width: 381px) and (max-width: 481px) {

  .Easy .cell {
    line-height: 40px;
    height: 40px;
    width: 40px;
    font-size: 25px;
  }

  .Hard .cell {
    line-height: 35px;
    height: 35px;
    width: 35px;
    font-size: 25px;
  }

  .Expert .cell {
    line-height: 32px;
    height: 32px;
    width: 32px;
    font-size: 20px;
  }

  .Easy {
    width: 350px
  }

  .Hard {
    width: 380px
  }

  .Expert {
    width: 400px
  }

}

@media only screen and (max-width: 380px) {

  .Easy .cell,
  .Hard .cell {
    line-height: 32px;
    height: 32px;
    width: 32px;
    font-size: 20px;
  }

  .Expert .cell {
    line-height: 28px;
    height: 28px;
    width: 28px;
    font-size: 18px;
  }

  .Easy {
    width: 285px
  }

  .Hard {
    width: 340px
  }

  .Expert {
    width: 365px;
  }

}