body {
  padding: 0;
  background: #4d4b4b;
}

.cell {
  background: #FEBD16;
  border: 1px solid #000000;
  float: left;
  line-height: 50px;
  height: 50px;
  width: 50px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  color: #000000;
  font-weight: bold;
}

.game {
  max-width: 416px;
  margin: 0 auto;
  padding: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  margin-bottom: 20px;
  color: #FEBD16;
}